@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body
{
    margin:0;
    padding:0;
    box-sizing:0;
    font-family: 'Space Mono', monospace;
}
header
{
    background-color: hsl(185, 41%, 84%);
    text-align:center;
    padding:30px;
    text-transform: uppercase;
    font-weight:700;
    letter-spacing:0.2rem;
    color:hsl(183, 100%, 15%);
    font-size:1.1rem;
}
#wrapper
{
    background-color:hsl(0, 0%, 100%);
    border:1px solid white;
    border-radius: 10px;
   
}
div.bill
{
    display:flex;
    flex-direction:column;
    padding:15px;
    margin-left:25px;
    margin-right:25px;
}
div.bill span
{
    display:grid;
    grid-template-columns:0.1fr 2fr;
    grid-gap:1rem;
    font-weight:700;
}
div.bill span img,div.bill span span
{
    padding:10px;
}
span.billValue
{
    border-radius:8px;
    box-shadow: 5px 10px 8px hsl(0, 0%, 100%);
    background-color:#F3F9FA;
    padding:8px;
    padding-right:0;
    /* border:2px solid #9FE8DF; */
    cursor:pointer;
}
span.billValue:focus-within
{
    border:2px solid #9FE8DF;
}
span.billValue input
{
    width:90%;
    border:none;
    outline:none;
    background-color: #F3F9FA;
    text-align:right;
    font-size:1.2rem;
    cursor: pointer;
}
span.billValue input::placeholder
{
    font-size:1.2rem;
}
span.title
{
    color:hsl(184, 14%, 56%);
}
div.tipSelection
{
    display:flex;
    flex-direction:column;
    margin-left:25px;
    margin-right:25px;
    padding:10px;
    font-weight:700;
}

div.tipPercentages
{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    column-gap:30px;
    row-gap:10px;
    padding:10px;
}
.box
{
    border:1px solid black;
    border-radius:7px;
    padding:10px;
    text-align:center;
    color:white;
    background-color:hsl(183, 100%, 15%);
    cursor: pointer;
}
.box-active
{
    /* border:1px solid black; */
    border-radius:7px;
    padding:10px;
    text-align:center;
    color:hsl(183, 100%, 15%);
    background-color:hsl(172, 67%, 45%);
    cursor: pointer;
}
input.custom
{
    border:none;
    border-radius:8px;
    padding:8px;
    text-align:right;
    font-weight:700;
    font-size:1.2rem;
    color:hsl(183, 100%, 15%);
    background-color:#F3F9FA;
    cursor:pointer;
    width:90%;
    outline:none;
    
}
input.custom::placeholder
{
    text-align:center;
    color:#547878;
    letter-spacing:0.1rem;
} 
input.custom:focus
{
   border:2px #9FE8DF solid;
}
.box:hover
{
    background-color:#9FE8DF;
    color:#00474B;
    border:none;
}
div.people
{
    display:flex;
    flex-direction:column;
    margin-left:25px;
    margin-right:25px;
    padding:10px;
    font-weight:700;
}
div.numberOfPeople
{
    display:flex;
    padding:7px;
}
div.numberOfPeople span.title
{
    flex:1;
}
div.numberOfPeople span.notZero
{
    color:#E17052;
    display:none;
}
div.content
{
    display:grid;
    grid-template-columns:0.1fr 2fr;
    padding:10px;
    background-color: #F3F9FA;
    border-radius:8px;
    box-shadow: 5px 10px 8px hsl(0, 0%, 100%);
    padding:10px;
    padding-right:0;
}
div.content input
{
    width:90%;
    border:none;
    outline:none;
    background-color: #F3F9FA;
    text-align:right;
    font-size:1.2rem;
    cursor: pointer;
}
div.content input::placeholder
{
    font-size:1.2rem;
}
div.tipCalculation
{
    margin-left:25px;
    margin-right:25px;
    padding:10px;
    border:1px solid black;
    border-radius:10px;
    background-color:hsl(183, 100%, 15%);
    display:grid;
    grid-template-columns:repeat(1,1fr);
    font-weight:700;
}
div.perPerson,div.total
{
    display:grid;
    grid-template-columns:2fr 1fr;
    padding:8px;
}
.icon
{
    fill:hsl(172, 67%, 45%);
}
div.perPerson span.text,div.total span.text
{
    color:hsl(0, 0%, 100%);
    font-size:1.1rem;
}
div.perPerson span.text2,div.total span.text2
{
    color:hsl(184, 14%, 56%);
    font-size:0.8rem;
}
#total,#amountPerPerson
{
    font-size:1.3rem;
    color:hsl(172, 67%, 45%);
}
.reset
{
    background-color:#0D686D;
    text-transform:uppercase;
    padding:10px;
    padding-top:15px;
    padding-bottom:15px;
    border-radius:10px;
    margin:8px;
    color:#00474B;
    border:1px solid black;
    font-weight:700;
    font-size:1.1rem;
    cursor:pointer;
}
.reset-active
{
    background-color: hsl(172, 67%, 45%);
    text-transform:uppercase;
    padding:10px;
    padding-top:15px;
    padding-bottom:15px;
    border-radius:10px;
    margin:8px;
    color:hsl(183, 100%, 15%);
    border:1px solid black;
    font-weight:700;
    font-size:1.1rem;
    cursor:pointer;
}
footer
{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:30px;
}
footer a
{
    text-decoration:none;
}
@media screen and (min-width:560px){
    #wrapper
    {
        display:grid;
        grid-template-columns:repeat(2,1fr);
        height:100vh;
    }
   div.tipPercentages
   {
       display:grid;
       grid-template-columns: repeat(3,1fr);
   }
   div.tipCalculation
   {
       margin-top:25px;
       display:flex;
       flex-direction:column;
       position:relative
   }
   #reset
   {
       position:absolute;
       bottom:8%;
       left:10%;
       width:80%;
   }
   footer
   {
       position: relative;
       left:30%;
       top:50%;
   }
   #total,#amountPerPerson
   {
    font-size:2rem;
   }
   div.bill,div.tipSelection,div.people
   {
       margin-top:20px;
       margin-bottom:20px;
   }
}